.iframe-rwd {
    position: relative;
    /* padding-bottom: 56.25%; */
    height: 300px !important;
    overflow: hidden;
    width: 100%;
}

.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.font-display-1 {
    font-size: 20px !important ;
}

.font-display-2 {
    font-size: 14px !important;
    font-weight: 300 !important;
    color: grey !important;
}

.about-caption {
    height: 150px !important;
    padding: 33px 20px 0px 30px !important;
}

.detail-room a {
    color: #dca73a !important;
}

.text-primary-yellow {
    color: #dca73a !important;

}

.detail-room li {
    /* float: left; */
    font-size: 14px;
}

.room-features {
    font-family: "Lato", sans-serif ;
}

.room-features svg{
    margin-right: 8px;
}

.text-grey {
    color: #909092 !important;
}

.room-badge {
    font-family: "Lato", sans-serif;
}

.room-badge svg {
    margin-right: 8px;
    color: #0EA706 !important;
}

.text-green {
    color: #0EA706 !important;
}

.room-detail {
    height: 510px !important;
}

.room-detail img {
    object-fit: cover;
}

.widget-little-image {
    height: 80px !important;
    width: 80px !important;
}

.blog_right_sidebar .popular_post_widget .post_item img {
    object-fit: cover;
}

.font-title-card {
    font-size: 20px !important;
}

.thumbnail-blog {
    max-height: 385px !important;
}

.object-fit-cover {
    object-fit: cover;
}

.detail-blog {
    max-height: 385px !important;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .font-display-2 {
        font-size: 16px !important;
    }

    .room-detail {
        max-height: 280px !important;
    }
}

@media (min-width: 992px) {

    .room-detail {
        height: 460px !important;
    }
}

@media (min-width: 992px) {

    /* .thumbnail-blog {
        height: 385px !important;
    } */
}
